# Build and IDE
.gradle/
.idea/
*.iml
build/
out/
captures/

# Kotlin & Java
*.class
*.dex
*.apk
*.ap_

# Local configs
local.properties

# macOS
.DS_Store

# Compose compiler reports
compose-metrics/
compose-reports/